{
	"extends": ["airbnb"],
	"parser": "@babel/eslint-parser",
	"env": {
		"es6": true,
		"browser": true,
		"node": true
	},
	"plugins": ["react"],
	"rules": {
    "no-underscore-dangle": "off",
		"react/destructuring-assignment": "off",
		"react/no-unused-prop-types": "off", // We dynamically create event handlers and we verify them as function prop types, eslint does not detect them so turning this off
		"no-param-reassign": "off",
		"react/jsx-filename-extension": "off",
		"react/require-default-props": "off",
		"no-prototype-builtins": "off",
		"jsx-a11y/label-has-associated-control": [
			2,
			{
				"assert": "either",
				"controlComponents": ["Form.Field"],
				"depth": 3
			}
		],
		"jsx-a11y/label-has-for": "off",
		"max-len": "off",
		"object-curly-newline": "off",
		"jsx-a11y/anchor-is-valid": [
			1,
			{
				"aspects": ["invalidHref", "preferButton"]
			}
		],
		"react/button-has-type": "off",
		"react/jsx-one-expression-per-line": [
			1,
			{
				"allow": "single-child"
			}
		]
	}
}
